body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 30%;
    align-items: center;
    /* outline: 1px solid; */
}
.row-1{
    display:flex;
    align-items: center;
}
.row-2{
    display:flex;
    align-items: center;
    float: right;
}
.grey{
    color: grey;
    font-size: 15px;
}
ul{
    list-style-type: none;
    padding: 0;
}
.pink{
    background-color:rgba(255,182,193,255) ;
    padding:20px 40px 20px 40px;
    border-radius: 20px 20px 20px 0px;
    width: 300px;
    margin-right: 250px;
}
.blue{
    background-color: rgba(173,217,230,255);
    padding: 20px 40px 20px 40px;
    border-radius: 20px 20px 0px 20px;
    width: 300px;
}
