/* за премахване на пространството отстрани */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    background-color: rgba(43, 41, 41, 0.733);
    /* position:relative; */
    /* top: 0; */
    /* left: 0; */
    /* width: 150%; */
    overflow: hidden;
}
header ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
padding-left: 17px;
}
header li a{
color: white;
font-size: 20px;
text-decoration: none;
}
.container{
    display: flex;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.308);
    width: 60%;
    height: 100vh;
    margin-top: 30px;
    margin-left: 22px;
}
.info-picture{
    background-color: rgba(255, 255, 0, 0.459);
    padding: 50px;
}
.info-picture img{
    float:right;
}
.info{
    line-height: 30px;
    width:90%;
    font-size: 20px;
    font-family:cursive;
}
.main-right{
    width: 40%;
}
.title{
    margin-left: 25px;
    margin-bottom: 0;
}
    #date{
    margin-left: 25px;
}
